<div v-if="description" class="help-block description">\{{ description }}</div>
<template v-if="readonly">
  <p class="form-control-static">\{{ readonlyValue }}</p>
  <input
    type="hidden"
    v-model.lazy="value"
    v-on:change="updateValue()"
    :name="name"
    :id="name"
    :placeholder="placeholder"
    class="form-control"
  />
</template>
<template v-else-if="autofill === 'always' && defaultSource === 'submission' && empty">
  Today
</template>
<template v-else>
  <div class="form-group fl-date-picker" ref="datePicker">
    <i class="fa fa-calendar fa-fw"></i>
    <input type="date" class="form-control" :name="name" :id="name" />
    <input type="text" class="form-control" />
    <i class="fa fa-times fa-fw"></i>
  </div>
</template>

<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
